body {
  font-family: 'Orbitron';
  font-size: 24px;
  margin: 2rem;
}

.preview__img {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem 1.5rem;
}

figcaption {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}
