body {
  font-family: 'Orbitron';
  font-size: 24px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

figcaption {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}
