.preview {
  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      padding: 1rem 1.8rem;
      transition: all 0.3s;
      // border-right: 1px solid #fff;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-highlight;
      transform: translateY(-2px);
    }

    &--active {
      background-color: $color-highlight;
    }
  }

  &__fig {
    flex: 0 0 5rem;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;

    &::before {
      // content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // background-image: linear-gradient(
      //   to right bottom,
      //   $color-grad-1,
      //   $color-grad-2
      // );
      // opacity: 0.4;
    }

    img {
      display: block;
      width: 70%;
      height: 70%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  &__data {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2rem;
    align-items: center;
  }

  &__title {
    grid-column: 1/-1;
    font-size: 0.875rem;
    color: $color-grey-light-1;
    text-transform: uppercase;
    font-weight: 600;

    // This is how text is truncated
    text-overflow: ellipsis;
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__year,
  &__type {
    grid-column: 1/-1;
    font-size: 0.75rem;
    color: $color-grey-light-1;
    font-weight: 600;
  }

  &__type {
    color: $color-grey-light-2;
  }
}
