.preview {
  &__link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      padding: 1rem;
      transition: all 0.3s;
      // border-right: 1px solid #fff;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-highlight;
      // transform: translateY(-2px);
    }

    &--active {
      background-color: $color-highlight;
    }
  }

  &__fig {
    flex: 0 0 5rem;
    overflow: hidden;
    position: relative;
    backface-visibility: hidden;

    &::before {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      display: block;
      width: 70%;
      height: 70%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  &__data {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4rem;
    align-items: center;
  }

  &__title {
    grid-column: 1;
    font-size: 0.875rem;
    color: $color-grey-light-1;
    text-transform: uppercase;
    font-weight: 600;

    // This is how text is truncated
    text-overflow: ellipsis;
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
  }

  &__year,
  &__type {
    grid-column: 1;
    font-size: 0.75rem;
    color: $color-grey-light-1;
    font-weight: 600;
  }

  &__type {
    color: $color-grey-light-2;
  }

  &__user-generated {
    background-color: darken($color-accent, 2%);
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;

    margin-left: 1rem;

    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
